@page "/"

<PageTitle>Home</PageTitle>

<h1> Velkommen til LendAlook 👗</h1>

LendAlook er en tøjdelingsklub for veninder, hvor du nemt kan låne og dele tøj gennem vores platform. 
Uanset om du mangler det perfekte outfit til en fest eller bare vil prøve noget nyt, gør vi det let og sjovt at låne tøj af hinanden. 
Giv din garderobe nyt liv – uden at købe nyt!

