@page "/membersPage"
@using Core
@inject NavigationManager navManager
@inject ILoginService lService
@inject IClosetService ClosetService

<h3>Medlemmer af vores klub</h3>

@if (brugere == null)
{
    <p>Indlæser medlemmer...</p>
}
else
{
    <ul class="user-list">
        @foreach (var b in brugere)
        {
            <li class="user-item">
                <div><strong>Navn:</strong> @b.navn</div>
                <div><strong>Brugernavn:</strong> @b.brugernavn</div>
                <div><strong>Email:</strong> @b.email</div>
                <div><strong>Telefonnummer:</strong> @b.mobil</div>
            </li>
        }
    </ul>
}

@code {
    private bruger? loggedIn;
    private bruger[]? brugere;

    protected override async Task OnInitializedAsync()
    {
        loggedIn = await lService.GetUserLoggedIn();

        if (loggedIn == null)
        {
            navManager.NavigateTo("loginPage/closetPage");
            return;
        }

        brugere = await ClosetService.GetAllUsers();
    }

}
